# Run ./deps.sh after changing this file.

# The following are dev-time dependencies
nose>=0.0
coverage>=0.0
flake8
mypy
lxml # needed for mypy coverage report
types-pyyaml # needed for mypy coverage report
types-pkg-resources # needed for mypy coverage report
wheel # needed to publish to PyPI in CircleCI
twine # needed to publish to PyPI in CircleCI
sphinx>=3 # used to generate and upload docs - sphinx-autodoc-typehints requires 4 or better per https://github.com/agronholm/sphinx-autodoc-typehints/pull/138
sphinx-autodoc-typehints # used to handle type hints
sphinx-rtd-theme # used to style docs for readthedocs.io
recommonmark # used to be able to use sphinx with markdown
